/*
 * @author: Guillaume Seren
 * @since:  14/04/2015
 * source:  https://github.com/GuillaumeSeren/blogTemplate
 * file:    css/template.css
 * Licence: GPLv3
 */

body {
    margin: 0 0 0 0;
}

.title {
  display: inline;
}

/* MENU */
ul.menu {
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
}

p {
    padding: 0 0 0 5px;
}

.nav, .menu {
  background-color: #F5F5F5;
}

.position-0 {
    position: fixed;
    right: 0px;
    top: 0px;
}

.header {
    top: 0;
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

/* SEARCH */
.search {
  float: right;
  margin: 15px;
}

.menu li {
    display: inline;
    list-style: none;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    margin: 0 0 0 0;
    padding: 0 1em 0 0;
}

li.active > a {
    text-decoration: underline;
    color: blue;
}

.element-invisible {
    visibility: hidden;
}

.breadcrumb {
    font-style: italic;
    font-size: 13px;
}

.breadcrumb li {
    display: inline;
    list-style: none;
}

.breadcrumb li a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
}

.menu .search {
    display: inline;
}

.footer {
    display: block;
    text-align: center;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 3px 3px 0 0;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid;
    border-color: #D8D8D8 #D8D8D8;
    margin-top: 2em;
    margin-bottom: 1em;
}

.item-title {
    background-color: #F5F5F5;
    margin: 0px;
    border-color: #D8D8D8 #D8D8D8 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 9px 10px 10px;
    font-size: 14px;
    line-height: 17px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.content-category {
    padding: 0px 0px 0px 0px;
    /* margin: 0px 0px 0px 0px; */
}

.content-category > form > table > thead {
    /* background-color: #F5F5F5; */
}

.content-category > form > table > thead > tr > th > .hasTooltip {
  float: left;
}

.content-category > form > table > tbody {
    /* background-color: #F5F5F5; */
}

.content-category > form > fieldset {
    background-color: #F5F5F5;
    margin: 0px;
    border-color: #D8D8D8 #D8D8D8 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 9px 10px 10px;
    font-size: 14px;
    line-height: 17px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* .content-category { */
/*     padding: 0 5px 0 5px; */
/* } */

.category {
    width: 100%;
}

.pull-right {
    float: right;
}
